{% load static %}
 <!-- Header Section Begin -->
 <header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'main:home' %}"><img src="{% static 'img/logo1.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav__option">
                    <nav class="header__nav__menu mobile-menu">
                        <ul>
                            {% if request.user.is_authenticated %}
                            <li class="active"><a href="{% url 'main:home' %}">Home</a></li>
                            
                            <li><a href="#">Blogs</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'main:blogs' %}">all Blogs</a></li>
                                    <li><a href="{% url 'main:blog-create' %}">Blog Create</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Reviews</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'main:reviews' %}">all Revies</a></li>
                                    <li><a href="{% url 'main:review-create' %}">Review Create</a></li>
                                </ul>
                            </li>

                            <li><a href="#">More</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'main:contact' %}">Contact Us</a></li>
                            <li><a href="{%url 'main:logout' %}">Logout</a></li>
                                </ul>
                            </li>
   
                            {% else %}
                                <li class="active"><a href="{% url 'main:home' %}">Home</a></li>
                                    <li><a href="{% url 'main:blogs' %}">all Blogs</a></li>
                                    <li><a href="{% url 'main:reviews' %}">all Revies</a></li>
                                    <li><a href="{%url 'main:login' %}">Login</a></li>
                            {% endif%}
                        </ul>
                    </nav>
                    <div class="header__nav__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
<!-- ================================
End Navigation Bar
================================= -->
